<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img class="logo" src="assets/img/optum-logo.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <div class="login-form">
      <input type="text" class="fadeIn form-control second login-fields" placeholder="username" [(ngModel)]="username">
      <input type="password" class="fadeIn form-control third login-fields" placeholder="password" [(ngModel)]="password">
      <button type="submit" class="fadeIn fourth btn btn-info" (click)="login()">Log
        In <i class="material-icons rotate" *ngIf="submitted">refresh</i></button>
    </div>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover">Forgot Password?</a>
    </div>

  </div>
</div>